# Dependency directories
node_modules/

# Environment files
.env

# Build or static files
/build/
/dist/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Large files
*.mp4
*.ttf
*.png
*.jpg
